::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #DFDFDF;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: #797872;
}