.benefits {
    max-width: 100%;
    margin: 0 auto;
}

.benefits__title {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
    margin: 0 0 90px 0;
    text-align: center;
}

.benefits__content {
    background-color: #E1E1E1;
    max-width: 100%;
    box-shadow: 0 4px 12px rgba(0,0,0,.2);
}

.benefits__container {
    max-width: 1770px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 70px 20px 70px 20px;
    gap: 100px;
}

.benefits__wrap {
    background-color: #F1F1F1;
    width: 370px;
    height: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,.2);
}

.benefits__image {
    width: 96px;
    height: 96px;
}

.benefits__subtitle {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin: 35px 0 0;
}